.btn-transparent {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: all 100ms linear;
    padding: 10px 13px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;

    &:hover {
        background-color: $secondary-design-color  !important;
        color: white !important;
        border: 2px solid $secondary-design-color  !important;
    }
}

.btn-white {
    background-color: white;
    border: 2px solid white;
    color: black;
    transition: all 100ms linear;
    padding: 10px 13px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;


    &:hover {
        background-color: $secondary-design-color  !important;
        color: white !important;
        border: 2px solid $secondary-design-color  !important;
    }
}

.btn-first {
    background-color: $secondary-design-color;
    border: 1px solid $secondary-design-color;
    color: white;
    padding: 8px 8px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn-cart {
    border: 2px solid rgb(222, 222, 222);
    color:rgb(142, 142, 142);
    font-size: 15px;
    background-color: white;
    transition: all 100ms linear;
    padding: 15px 35px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;


    &:hover {
        background-color: $secondary-design-color  !important;
        color: white !important;
        border: 2px solid $secondary-design-color  !important;
    }
}