#categories {
    background-image: url('/src/resources/img/pattern/4.png');
    background-repeat: no-repeat;
    background-position: right, bottom;
    padding: 63px 0;
    margin-bottom: 100px;
    background-color: $secondary-design-color;

    .container {
        margin-top: -100px;
        margin-bottom: 85px;
    }

    .categories__center {
        height: 151px;
    }

    .categories__left,
    .categories__right {
        height: 322px;
    }

    a {
        overflow: hidden;
        h3,
        h5 {
            top: 20px;
            left: 20px;
            z-index: 1111;
            color: black;
            transition: all 100ms linear;

        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            content: '';
        }

        &:hover:after {
            background-color: rgba(0, 0, 0, .4);
        }

        &:hover img {
            transform: scale(1.2);
        }

        &:hover h3,
        &:hover h5 {
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

}