#division {
    background-image: url('/src/resources/img/pattern/3.png');
    background-repeat: no-repeat;
    background-position: left 90%, right 50%;
    padding: 50px 0;

    background-color: $primary-design-color;
    

    .division__header {
        margin-bottom: 35px;

        h1 {
            display: inline;
            position: relative;

            &::after {
                @include header__line();
                background-color: white;

            }
        }
    }

    .division__left {
        height: 323px;
    }

    .division__left,
    .division__right {
        position: relative;
        overflow: hidden;

        img {
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
        }

        a {
            position: relative;

            h3,
            h5 {
                top: 20px;
                left: 20px;
                z-index: 1111;
                color: black;
                transition: all 100ms linear;

            }

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0);
                content: '';
            }

            &:hover:after {
                background-color: rgba(0, 0, 0, .4);
            }

            &:hover img {
                transform: scale(1.2);
            }

            &:hover h3,
            &:hover h5 {
                color: white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

            }
        }
    }

    .division__right {
        a {
            overflow: hidden;
            max-height: 150px;
        }
    }


}