nav {
    position: relative;

    .nav__category {
        background-color: $secondary-design-color;

        &:hover .nav__menu-submenu {
            display: block;
        }

        .nav__menu-submenu {
            width: 100%;

            i {
                opacity: .2;
            }
        }
    }

    .nav__menu {
        >ul {
            >li {
                i {
                    transition: all 200ms linear;
                }

                &:hover i {
                    transform: rotate(90deg);
                }

                &:hover .nav__menu-submenu {
                    display: block;

                }

                >a {
                    position: relative;

                    &::after {
                        @include line();
                        background-color: $primary-bg-color;

                    }

                    &:hover:after {
                        width: 100%;
                    }
                }


            }
        }

        .nav__menu-submenu {
            width: 160px;
        }
    }


    .nav__menu-submenu {
        display: none;
        line-height: 20px;
        border: 1px solid rgb(243, 243, 243);
        z-index: 10;
        background-color: $primary-bg-color;
        >ul {
            position: relative;

            >li {
                position: relative;

                &::after {
                    @include line();
                    background-color: $secondary-design-color;
                }

                &:hover:after {
                    width: 100%;
                }
            }

            >li:not(:last-child) {
                border-bottom: 1px solid rgb(243, 243, 243);

            }
        }
    }

    i[class='fa-solid fa-chevron-right'] {
        font-size: 12px;
    }



    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     display: flex;
    //     width: 20%;
    //     height: 100%;
    //     background-color: $secondary-design-color;
    //     opacity: 1;
    //     transition: all 100ms linear;
    // }
}