nav {
    .nav__category {
        background-color: $secondary-design-color;
    }

    .nav__menu {
        ul {
            li {
                a {
                    position: relative;

                    &::after {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        content: "";
                        width: 0%;
                        height: 1px;
                        transition: all 100ms linear;
                        background-color: $primary-bg-color;
                    }

                    &:hover:after {
                        width: 100%;
                    }
                }
            }
        }
    }

    i[class='fa-solid fa-chevron-right'] {
        font-size: 12px;
    }
}