.products {
    background-image: url('/src/resources/img/pattern/1.png'), url('/src/resources/img/pattern/2.png');
    background-repeat: no-repeat;
    background-position: left 90%, right 50%;
    background-color: #F8F8F8;
    padding: 80px 0;

   
}
.products__item {
    margin-bottom: 24px;
    .products__item-header {
        a {
            font-size: 12px;

            &:hover {
                color: white
            }
        }

        i {
            color: $primary-design-color  !important;
            font-size: 28px;
        }
    }

    &:hover img {
        transform: scale(1.2);
    }

    .products__item-img {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            width: 90%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: all 200ms linear;

            }


        }


    }

    .products__item-content {
        h3 {
            line-height: 20px;
            height: 40px;
        }

        h3,
        h4 {
            font-weight: 500;
        }
    }

}