.products {
    background-image: url('/src/resources/img/pattern/1.png'), url('/src/resources/img/pattern/2.png');
    background-repeat: no-repeat;
    background-position: left 90%, right 50%;
    background-color: #F8F8F8;
    padding: 80px 0;

    .products__header {
        margin-bottom: 35px;

        h1 {
            display: inline;
            position: relative;

            &::after {
                @include header__line();
                background-color: $secondary-design-color;
            }
        }
    }

    .products__item {
        .products__item-header {
            a {
                font-size: 12px;

                &:hover {
                    color: white
                }
            }

            i {
                color: $primary-design-color  !important;
                font-size: 28px;
            }
        }


        .products__item-img {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 200ms linear;

            a {
                width: 182px;

                img {
                    width: inherit;
                    height: 100%;
                    object-fit: cover;
                }


            }

            &:hover {
                transform: scale(1.2);
            }
        }

        .products__item-content {
            h3 {
                line-height: 20px;
            }
        }

    }
}