.products {
    background-color: #F8F8F8;
    padding: 80px 0;

    .products__header {
        margin-bottom: 35px;

        h1 {
            display: inline;
            position: relative;

            &::after {
                margin-top: 10px;
                position: absolute;
                top: 100%;
                left: 50%;
                width: 35px;
                height: 5px;
                transform: translateX(-50%);
                border-radius: 5px;
                background-color: $secondary-design-color;
                content: '';
            }
        }
    }

    .products__item {
        .products__item-header {
            a {
                font-size: 12px;
            }

            i {
                color: $primary-design-color  !important;
                font-size: 28px;
            }
        }


        .products__item-img {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 200ms linear;

            a {
                width: 182px;

                img {
                    width: inherit;
                    height: 100%;
                    object-fit: cover;
                }


            }

            &:hover {
                transform: scale(1.2);
            }
        }

        .products__item-content {
            h3 {
                line-height: 20px;
            }
        }

    }
}