$primary-design-color: #fc8410;
$secondary-design-color: #106853;
$primary-bg-color: #fff;
$secondary-bg-color: #f8f8f8;
$tertiary-bg-color: #f2f2f2;
$primary-text-color: #303030;
$secondary-text-color: #fff;
$tertiary-text-color: #202f3f;