.hover-second-color {
    &:hover {
        background-color: $secondary-design-color  !important;
        color: white !important;
        border: 1px solid $secondary-design-color  !important;
    }
}

.section__header {
    margin-bottom: 35px;

    h1 {
        display: inline;
        position: relative;

        &::after {
            @include header__line();
            background-color: $secondary-design-color;
        }
    }
}